.page{
    width: 95vw;
}


.right-content{
    width: 70%;
  max-width: 1200px;
  height: calc(100vh - 160px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}


.table-container {
  width: 90%;
  transform: translateX(5%);
  max-width: 1200px;
  height: 75%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 10px;
}

.row:hover{
    background-color: #2f4f31;
}

.search-filter-wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#search-bar {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 50%;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  outline: none;
  backdrop-filter: blur(5px);
}

#search-bar::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#reset-btn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #2f4f31;
  color: white;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#reset-btn:hover {
  background-color: #518155;
}

#type {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.15);
  color: #2f4f31;
  font-size: 1rem;
  outline: none;
  backdrop-filter: blur(5px);
}

#navigation {
  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#navigation p {
  margin: 0;
  color: white;
  font-weight: bold;
}

#prev-btn, #next-btn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #2f4f31;
  color: white;
  border: 1px solid #2f4f31;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#prev-btn:hover, #next-btn:hover {
  background-color: #456d46;
}


#prev-btn:disabled,#next-btn:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
